@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

html {
  /* Set to 62.5% for easy rem resizing
       See: http://snook.ca/archives/html_and_css/font-size-with-rem
    */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  color: #4F5E66;
}

a {
  font-weight: 600;
  color: #2382CE;
  text-decoration: none;
}

.Hero {
  background-image: url('../images/wallpaper3.jpg');
  background-size: cover;
  background-position: center;
}

.HeroGroup {
  max-width: 500px;
  margin: 0 auto;
  padding: 150px 50px;
  text-align: center;
}

.Hero h1 {
  margin: 0;
  font-size: 6rem;
  line-height: 1.2;
  color: white;
}

.Hero p {
  font-size: 3rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}

.Hero a {
  padding: 0.5em 1.25em;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0,0.7);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 2em;
}